<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Mystic Garden - Impressum</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="kopf"> </div>
  <div id="menue"> <a href="#" class="mp1">&raquo; Home</a> <a href="uebermich.php" class="mp">&raquo; &Uuml;ber mich</a> <a href="bildergalerie.php" class="mp">&raquo; Bildergalerie</a> <a href="gaestebuch.php" class="mp">&raquo; G&auml;stebuch</a> <a href="links.php" class="mp">&raquo; Links</a> <a href="kontakt.php" class="mp">&raquo; Kontakt</a> <a href="impressum.php" class="mp">&raquo; Impressum</a> </div>
  <div id="contentkopf"> </div>
  <div id="content">
    <div id="sidebar">
      <h2>&raquo; Aktuelles</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      <h2>&raquo; Partnerseiten</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <p align="center"><a href="http://validator.w3.org/check?uri=referer"><img border="0" src="http://www.w3.org/Icons/valid-html401" alt="Valid HTML 4.01!" height="31" width="88" /></a> <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" /></a></p>
    </div>
    <div id="inhalt">
      <h1>&raquo; Impressum</h1>
      <p>Ergänzen Sie diese kostenlose Homepage Vorlage einfach durch Ihre eigenen Texte und Bilder.</p>
      <p><strong>Mit den besten Wünschen für Ihren erfolgreichen Internetauftritt<br />
        Ihre Sabine Kunkel-Dücking</strong></p>
    </div>
  </div>
  <div id="fuss"> Design by <a href="http://www.hpvorlagen24.de">www.hpvorlagen24.de</a> copyright &copy; 2005 </div>
</div>
</body>
</html>
